@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&amp;display=swap');

@font-face {
  font-family: "HelveticaNeue";
  src: url("../assets/fonts/HelveticaNeue.html\ LT\ 55\ Roman\ Regular.ttf");
}

@font-face {
  font-family: "PlayfairDisplay-Italic";
  src: url("../assets/fonts/PlayfairDisplay-Italic.ttf");
}

@font-face {
  font-family: "PlayfairDisplay-Regular";
  src: url(../assets/fonts/PlayfairDisplay-Regular.ttf);
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --light: #ffffff;
  --dark: #000;
  --playfair: "PlayfairDisplay-Regular";
  --playfairiltalic: "PlayfairDisplay-Italic";
  --helve: "HelveticaNeue";
  --radius-1: 16px;
  --radius-full: 100px;
  /* --primary: #82743f; */
  --primary:#3e3948;
  --primary-pink: #eee8aa;
}

html {
  font-size: 16px !important;
  overflow-x: hidden;
}

body {
  overflow-x: hidden !important;
  -webkit-transition: all 0.45s ease;
  -o-transition: all 0.45s ease;
  transition: all 0.45s ease;
  padding-right: 0px !important;
  font-family: var(--playfair);
  background: #FFFBEE;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  -ms-scroll-chaining: none;
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
  background-color: #ffffff00;
}

body::-webkit-scrollbar {
  width: 9px;
  background-color: #ffffff00;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  background-color: #cfcfcf;
}

.toggle-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: var(--dark-blue);
  width: 45px;
  height: 45px;
  border-radius: 100px;
  position: fixed;
  bottom: 0%;
  right: 1.25%;
  color: var(--light);
  z-index: 999;
  cursor: pointer;
  opacity: 0;
  -webkit-transform: translateY(50px);
  -ms-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.toggle-up.show {
  opacity: 1;
  -webkit-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  transform: translateY(-20px);
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.toggle-up i {
  font-size: 1.15rem;
}

/* form loader css */

.form-loader-div {
  display: none;
}

.form-loader {
  width: 25px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 3px solid #b5acac;
  border-right-color: var(--light);
  -webkit-animation: l2 0.35s infinite linear;
  animation: l2 0.35s infinite linear;
}

@-webkit-keyframes l2 {
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}

@keyframes l2 {
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}

/* form loader css */

.compensate-for-scrollbar {
  margin-right: 0px !important;
}


button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.no-wrap {
  text-wrap: nowrap;
}

.invert {
  -webkit-filter: invert(1);
  filter: invert(1);
}

.rotate {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.rotate-180 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.mirror {
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
}

.letter-spacing {
  letter-spacing: 1.05px;
}

.text-shadow {
  text-shadow: 0px 2px 10px rgba(46, 74, 81, 0.3);
}

img,
video {
  width: 100%;
  height: auto;
  object-fit: cover;
}


.header-container {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  z-index: 999;
}

.navbar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.1rem 8rem;
  border-bottom: 1px solid var(--primary-pink);
  /* background: var(--primary); */
  /* background: rgba(47, 41, 104, 0.9) 29%; */
  background: #24232373;
  gap: 1rem;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.menu {
  display: none;
  width: 21px;
  cursor: pointer;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 2rem;
}

.logo-img {
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  width: 135px;
  max-width: 100%;
  position: relative;
}

.navLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  gap: 1.8rem;
}

.navLinks .navLink {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  display: block;
  color: var(--primary-pink);
  text-transform: capitalize;
  cursor: pointer;
  position: relative;
  text-decoration: none;
}

.navLinks .navLink::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  bottom: -5px;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  border-radius: var(--radius-full);
  background-color: var(--primary-pink);
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.navLinks .navLink:hover::after {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.btn-contact {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: var(--primary-pink);
  padding: 12px 35px;
  text-decoration: none;
  position: relative;
  cursor: pointer;
  text-align: center;
}

.btn-contact::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  left: 0;
  border: 1px solid;
  /* left: -13px; */
  border:1px solid;
}

.offcanvas {
  background-color: var(--light);
}

.offcanvas.offcanvas-end {
  width: 100%;
}

.offcanvas.offcanvas-end .offcanvas-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1rem;
}

.offcanvas-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}


.offcanvas-close {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  border-radius: 100px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: var(--light);
  -webkit-transform: translateY(4px) scale(0.95);
  -ms-transform: translateY(4px) scale(0.95);
  transform: translateY(4px) scale(0.95);
  -webkit-transition: all 0.45s ease;
  -o-transition: all 0.45s ease;
  -o-transition: all 0.45s ease;
  transition: all 0.45s ease;
}

.offcanvas-close i {
  font-size: 1.1rem;
}

.offcanvas-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 2.5rem;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  margin: 1rem 0;
}

.offcanvas-link {
  display: block;
  font-size: 1.35rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: var(--primary-pink);
  text-transform: capitalize;
  position: relative;
  width: 100%;
  text-decoration: none;
}

.offcanvas-link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #0000001a;
  left: 0;
  bottom: -15px;
}

.offcanvas-link:last-child:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: transparent;
  left: 0;
  bottom: -15px;
}

.offcanvas-logo .logo-img {
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  width: 150px;
  max-width: 100%;
}

section.main-banner {
  /* margin: 5.25rem 0 0 0; */
}

.main-banner .carousel-item img {
  /* height: 90.5vh; */
  height: 100vh;
}

.ban_leaf {
  position: absolute;
  bottom: 0;
  right: 5%;
  width: 25%;
  z-index: 2;
}

.ban_title {
  position: absolute;
  top: 20%;
  right: 2%;
  width: 47%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: #000;
    opacity: 0.7;
    padding: 2% 2%;
}

.ban_title h2 {
  font-family: var(--playfair);
  font-size: 3vw;
  color: var(--primary-pink);
  line-height: 140%;
  letter-spacing: 2.04px;
  text-transform: uppercase;
}

.ban_title p {
  font-family: var(--playfair);
  font-size: 18px;
  color: var(--light);
}
.ban_title h1{
  color: #b9ceeb;
}


.ban_title_top {
  position: absolute;
  top: 14%;
  right: 0%;
  width: 17%;
  left: 4%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  background: #858389;
  opacity: 0.7;
  padding: 0.5%;

}

.ban_title_top h3 {
  font-family: var(--playfair);
  font-size: 1vw;
  color: var(--primary-pink);
  line-height: 100%;
  letter-spacing: 2.04px;
  text-transform: uppercase;
  /* border-bottom: 1px solid; */
  margin: 0;
}

.ban_title_top p {
  font-family: var(--playfair);
  font-size: 14px;
  color: var(--light);
  margin: 0;
}

.carousel-indicators [data-bs-target] {
  width: 30px;
  height: 6px;
  display: block;
  overflow: hidden;
  opacity: 1;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: #fff;
}

.carousel-indicators .active {
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: rgba(233, 29, 60, 1);
}

.ban_arrow {
  position: absolute;
  bottom: 8%;
  right: 50%;
  z-index: 999;
  width: 3%;
  background: #000;
    opacity: 0.6;
    padding: 10px;
}

/* Overview start */

.section__over {
  position: relative;
  padding: 7rem 0;
  background-image: url("../assets/images/wonder/content-bg.jpg");
}

.section__over::after {
  content: "";
  position: absolute;
  width: 12%;
  height: 12%;
  top: 5%;
  right: -45px;
  /* background: url(../assets/images/icon/right-half.svg) no-repeat center center / contain; */
  opacity: 0.4;
}

.section__over::before {
  content: "";
  position: absolute;
  width: 12%;
  height: 12%;
  bottom: 3%;
  left: -50px;
  /* background: url(../assets/images/icon/left-half.svg) no-repeat center center / contain; */
  opacity: 0.3;
}

.top_leaf {
  position: absolute;
  top: 0;
  right: 50%;
  width: 4%;
}

.section__over .nav-link img {
  /* width: 85%; */
  width: auto;
  height: 170px;
}

.section__over .nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  background-color: inherit;
}

.section__over .nav-pills .nav-link.active img {
  border: 6px solid var(--primary-pink);
}

.over_div h2 {
  font-family: var(--playfair);
  font-size: 2.2vw;
  color: var(--primary);
  line-height: 140%;
  letter-spacing: 2.04px;
  text-transform: uppercase;
}

.over_div p {
  font-family: var(--playfair);
  font-size: 18px;
  color: var(--primary);
}

.btn-enq {
  width: fit-content;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: var(--primary);
  padding: 20px 40px;
  text-decoration: none;
  position: relative;
  cursor: pointer;
  text-align: center;
  margin-top: 2rem;
}

.btn-enq::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  left: 0;
  border: 1px solid;
}

.where_sec {
  padding: 3rem 0;
}

.where_div h2 {
  font-family: var(--playfair);
  font-size: 2.5vw;
  color: var(--primary);
  line-height: 140%;
  letter-spacing: 1.44px;
  text-transform: uppercase;
}

.where_div p {
  font-family: var(--playfair);
  font-size: 18px;
  color: var(--primary);
  text-align: end;
}

.whereimg {
  width: 38%;
}

.where_abs {
  position: absolute;
  top: -25%;
  right: 12%;
  width: 32%;
}

.desc_para p {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: var(--primary);
}

/* Overview end */

/* Amenities start */

.section__ameni {
  position: relative;
  padding: 7rem 0 4rem 0;
  background-color: var(--primary);
  /* background-image: url(../assets/images/icon/trns-leaf.svg), url(../assets/images/icon/trns-bot.svg); */
  background-image: url(https://multigenindia.in/assets/img/banner/bg-award.webp);
  background-position: top, bottom;
  background-size: 100%;
  background-repeat: repeat-x;
}

.ameni_div h2 {
  font-family: var(--playfair);
  font-weight: 500;
  font-size: 3vw;
  color: var(--primary-pink);
  line-height: 140%;
  letter-spacing: 1.44px;
  text-transform: uppercase;
  text-align: center;
}

.ameni_div p {
  font-family: var(--playfair);
  font-weight: 500;
  font-size: 18px;
  color: var(--primary-pink);
  text-align: center;
}

.ameni_icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  padding: 1rem;
}

.ameni_icon img {
  width: 45px;
  height: 45px;
}

.ameni_icon p {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: var(--primary-pink);
}

.brd-right::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 80%;
  border-right: 1px solid #fff;
}

.brd-bot::before {
  content: "";
  position: absolute;
  bottom: 7%;
  right: 12%;
  border: 1px solid #fff;
  width: 85%;
}

.btn_ameni {
  width: fit-content;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: var(--primary-pink);
  padding: 14px 40px;
  text-decoration: none;
  position: relative;
  cursor: pointer;
  text-align: center;
  margin: 2rem auto 0;
}

.btn_ameni::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  left: 0;
  border:1px solid;
}

.btn_req {
  width: fit-content;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: var(--primary-pink);
  padding: 25px 50px;
  text-decoration: none;
  position: relative;
  cursor: pointer;
  text-align: center;
  margin: 2rem auto 0;
}

.btn_req::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  left: 0;
  border:1px solid;
}

/* Amenities end */

/* config start */
.config_div {
  position: relative;
  border: 1px solid var(--primary-pink);
  padding: 0 0 0 2.5rem;
}

.config_div::after {
  content: '';
  position: absolute;
  right: -5%;
  top: -13%;
  width: 15%;
  height: 15%;
  /* background: url(../assets/images/icon/trns-bot.svg) no-repeat center center / contain; */
  z-index: -1;
}

.config_para {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 2rem;
}

.config_para h2 {
  font-family: var(--play-fair);
  font-size: 35px;
  color: var(--primary);
  line-height: 140%;
  letter-spacing: 1.8px;
  text-transform: uppercase;
}

.config_para p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: var(--primary);
}

.borderl {
  /*border-left: 1px solid var(--primary-pink);*/
}

.flr_img img {
  filter: blur(3px);
}

.btn_check {
  width: fit-content;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: var(--primary);
  padding: 17px 34px;
  text-decoration: none;
  position: relative;
  cursor: pointer;
  text-align: center;
  margin-left: 16px;
}

.btn_check::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  left: 0;
  border:1px solid;
}

/* Pagination container */
.custom-pagination {
  display: flex;
  justify-content: start;
  gap: 40px;
  margin-bottom: 20px;
}

/* Default bullet hidden */
.custom-pagination .swiper-pagination-bullet {
  width: auto;
  height: auto;
  background: transparent;
  opacity: 1;
  position: relative;
}

.custom-pagination .swiper-pagination-bullet::after {
  content: "";
  background: var(--primary-pink);
  opacity: 0.5;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 220%;
  height: 1px;
  transform: translate(75%, -50%);
}

.custom-pagination .swiper-pagination-bullet-active::after {
  opacity: 1;
}

/* Custom icon using background image */
.custom-pagination .swiper-pagination-bullet::before {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  /* background: url('../assets/images/icon/dark.svg') no-repeat center; */
  background-size: contain;
  opacity: 0.3;
}

/* Active state */
.custom-pagination .swiper-pagination-bullet-active::before {
  opacity: 1;
}


.project-carousel .owl-nav {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 25px;
}

/* config end */

/* master start */

.section__master {
  position: relative;
  padding: 7rem 0;
  background-image: url("../assets/images/wonder/content-bg.jpg");
  background-position: left bottom;
}

.mast_div h2 {
  font-family: var(--playfair);
  font-weight: 500;
  font-size: 3vw;
  color: var(--primary);
  line-height: 140%;
  letter-spacing: 1.44px;
  text-transform: uppercase;
  text-align: center;
}
.mast_div h3 {
  font-family: var(--playfair);
  font-weight: 500;
  font-size: 3vw;
  color: var(--primary);
  line-height: 140%;
  letter-spacing: 1.44px;
  text-transform: uppercase;
  text-align: center;
}

.mast_div p {
  font-family: var(--playfair);
  font-weight: 500;
  font-size: 18px;
  color: var(--primary);
  text-align: center;
}

.confg-text-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.brd_mast {
  border: 1px solid var(--primary-pink);
  height: 559px;
}

.confg-text-head {
  font-family: var(--play-fair);
  font-weight: 500;
  font-size: 32px;
  color: var(--primary);
  letter-spacing: 0.96px;
  text-transform: uppercase;
  position: relative;
}

.confg-text-subhead {
  font-family: var(--play-fair);
  font-weight: 500;
  font-size: 32px;
  color: var(--primary);
  letter-spacing: 0.96px;
  text-transform: uppercase;
}

.confg-text-head::after {
  content: "";
  position: absolute;
  right: -35px;
  width: 32px;
  display: inline-block;
  bottom: 0 !important;
  height: 32px;
  background-image: url(../assets/images/icon/vector.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.confg-text-head::before {
  content: '';
  position: absolute;
  inset: 0;
  border-bottom: 1px solid var(--primary-pink);
  width: 232px;
}

.section__master .nav-pills .nav-link {
  background-color: transparent;
  border: none;
}

.section__master .nav-pills .nav-link h2 {
  font-family: var(--play-fair);
  font-weight: 500;
  font-size: 32px;
  color: var(--primary);
  letter-spacing: 0.96px;
  text-transform: uppercase;
}

.section__master .nav-pills .nav-link.active h2 {
  border-bottom: 1px solid var(--primary-pink);
  width: fit-content;
  margin: 0 auto 0.5rem;
}

.master_img img {
  height: auto;
}

.master_img video {
  height: 559px;
}

.btn_dwnld {
  width: fit-content;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: var(--primary);
  padding: 25px 35px;
  text-decoration: none;
  position: relative;
  cursor: pointer;
  text-align: center;
  margin: 2rem auto 0;
}

.btn_dwnld::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  left: 0;
  border:1px solid;
}

/* master end */

/* location start */

.section__loc {
  position: relative;
  background-color: var(--primary);
}

.loc_div {
  width: 80%;
  margin: 0 auto;
}

.loc_div h2 {
  font-family: var(--playfair);
  font-weight: 500;
  font-size: 2.5vw;
  color: var(--primary-pink);
  line-height: 140%;
  letter-spacing: 1.44px;
  text-transform: uppercase;
}

.loc_div p {
  font-family: var(--playfair);
  font-weight: 500;
  font-size: 16px;
  color: var(--light);
}

.section__accord {
  position: relative;
  padding: 7rem 0;
  background-color: var(--primary);
}

.custom-accordion {
  border-top: 1px solid var(--primary-pink);
}

.accordion-item {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--primary-pink);
}

.accordion-button {
  font-family: var(--play-fair);
  font-size: 22px;
  color: var(--light);
  padding: 22px 0;
  background-color: transparent;
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  color: var(--light);
  background-color: transparent;
  box-shadow: none;
}

.accordion-button::after {
  filter: invert(1);
}

.accordion-body {
  padding: 0;
}

.accordion-body p {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: var(--light);
}

.accordion-button:focus {
  box-shadow: none;
}

.btn_accord {
  width: fit-content;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: var(--primary-pink);
  padding: 28px 40px;
  text-decoration: none;
  position: relative;
  cursor: pointer;
  text-align: center;
  margin: 2rem auto 0;
}

.btn_accord::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  left: 0;
  border:1px solid;
}

/* location end */

/* About start */

.section__about {
  position: relative;
  background: url(../assets/images/wonder/790x490.png) center no-repeat;
  
  background-size: cover;
}
.section__about .cust-bg{
  background: #000;
  opacity: 0.7;
  box-shadow: 2px 2px 30px 2px #ffffff;
}
.section__about::after {
  content: "";
  background-image: url("../assets/images/icon/v1.svg");
  background-size: contain;
  /* scales image to fit */
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
  /* set the height for the image */
  display: block;
  /* make it a block element */
  position: absolute;
  opacity: 0.1;
  /* z-index: 999; */
  right: -40px;
  top: 0px;
  /* optional, to position it at the top */
}

.abt_title h2 {
  font-family: var(--playfair);
  font-weight: 500;
  font-size: 3vw;
  color: var(--primary-pink);
  line-height: 140%;
  letter-spacing: 1.44px;
  text-transform: uppercase;
}

.abt_title p {
  font-family: var(--playfair);
  font-weight: 500;
  font-size: 18px;
  color: var(--light);
}

.abt_title img {
  width: 24%;
}

.abt_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.3rem;
  text-align: center;
}

.abt_div img {
  width: 50px;
  height: 50px;
}

.abt_div p {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: var(--light);
}


.section__about .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0.75);
  opacity: 0.6;
  transition: all 0.4s ease;
}

.section__about .swiper-slide-active {
  transform: scale(1.5) !important;
  opacity: 1;
  z-index: 3;
}

/* .section__about .image-card {
  background: var(--light);
  padding: 14px;
  box-shadow: 0 20px 50px var(--dark);
} */

.section__about .image-card img {
  border: 7px solid var(--light);
  width: 100%;
  display: block;
}

.section__about .imageSwiper .swiper-button-prev {
  left: 20px;
}

.section__about .imageSwiper .swiper-button-next {
  right: 20px;
}

/* Arrow image size */
.section__about .imageSwiper .swiper-button-prev img,
.imageSwiper .swiper-button-next img {
  width: 40px;
  /* adjust as needed */
  height: 40px;
  transition: all 0.3s ease;
}

.section__about .imageSwiper .swiper-button-prev img {
  transform: rotate(-180deg);
}

.section__about .swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

.section__about .swiper-wrapper {
  height: auto !important;
  margin: 200px 0px;
}

/* About end */

/* Contact start */

.section__connect {
  position: relative;
  padding: 7rem 0;
  /* background-image: url(../assets/images/icon/trns-leaf.svg), url(../assets/images/icon/trns-bot.svg); */
  background-position: top, bottom;
  background-size: 3%;
  background-repeat: repeat-x;
  z-index: 1;
}

.map_con {
  position: absolute;
  height: 100%;
  width: 70%;
  top: 0;
  right: 0;
  z-index: 2;
}

.map_con iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.map_con::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  inset: 0;
  background: linear-gradient(90deg, #FFFBEE 36.48%, rgba(255, 251, 238, 0.75) 53.58%, rgba(255, 251, 238, 0.50) 70.68%, rgba(255, 251, 238, 0.25) 87.77%, rgba(255, 251, 238, 0.00) 104.87%);
  pointer-events: none;
}

/* .section__connect::after {
  content: "";
  inset: 0;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: #f8f2ec;
  background: -webkit-linear-gradient(90deg, #FFFBEE 36.48%, rgba(255, 251, 238, 0.75) 53.58%, rgba(255, 251, 238, 0.50) 70.68%, rgba(255, 251, 238, 0.25) 87.77%, rgba(255, 251, 238, 0.00) 104.87%);
  background: -moz-linear-gradient(90deg, #FFFBEE 36.48%, rgba(255, 251, 238, 0.75) 53.58%, rgba(255, 251, 238, 0.50) 70.68%, rgba(255, 251, 238, 0.25) 87.77%, rgba(255, 251, 238, 0.00) 104.87%);
  background: linear-gradient(90deg, #FFFBEE 36.48%, rgba(255, 251, 238, 0.75) 53.58%, rgba(255, 251, 238, 0.50) 70.68%, rgba(255, 251, 238, 0.25) 87.77%, rgba(255, 251, 238, 0.00) 104.87%);
} */

.con_box {
  position: relative;
  z-index: 3;
}

.con_div h2 {
  font-family: var(--playfair);
  font-weight: 500;
  font-size: 2.5vw;
  color: var(--primary);
  line-height: 140%;
  letter-spacing: 1.44px;
  text-transform: uppercase;
}

.con_div p {
  font-family: var(--playfair);
  font-weight: 500;
  font-size: 18px;
  color: var(--primary);
}

.con_form .custom-input,
.con_form select {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(43, 77, 106, 0.50);
  border-radius: 0;
  font-family: "Montserrat", sans-serif;
}

.con_form .form-check-label {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: var(--primary);
}

/* contact end */


footer {
  padding: 3rem 0;
  background-color: var(--primary);
}

.logo_div img {
  /* width: 40%; */
  width: 20%;
}

.disc p {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #F3ECE3;
  text-align: center;
  line-height: 170%;
}

.rera1 p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: var(--primary-pink);
  text-align: center;
  line-height: 20px;
}

.footer-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 1rem;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #F3ECE3;
}

.created {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
  cursor: pointer;
}

.custom-modal-content {
  position: relative;
  background-color: var(--primary);
  padding: 1.25rem 0.5rem 0.5rem 0.5rem;
}

.modal-body {
  font-family: "Montserrat", sans-serif;
}

.modal-logo {
  /* width: 12rem; */
  max-width: 100%;
  margin: 1rem auto 0rem auto;
}

.modal-logo h2 {
  font-family: var(--playfair);
  font-weight: 500;
  font-size: 1.8rem;
  color: var(--primary-pink);
  letter-spacing: 1.44px;
  text-transform: uppercase;
  text-align: center;
}

.modal-logo p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: var(--light);
  text-align: center;
}

.modal-logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.modal-close {
  position: absolute;
  top: 3%;
  width: 48px;
  height: 48px;
  right: 3%;
  cursor: pointer;
}

.modal-close img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.term_para p {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: var(--light);
}

.primary-button {
  width: fit-content !important;
  padding: 15px 30px;
  text-decoration: none;
  position: relative;
  cursor: pointer;
  text-align: center;
  margin: 0 auto;
  border: 2px solid var(--primary-pink);
  /* z-index: 99; */
}

/* .primary-button::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  left: -13px;
  background: url(../assets/images/icon/frame.svg) no-repeat center center / contain;
  z-index: -1;
} */

.primary-button button {
  background: transparent;
  border: none;
}

.primary-button .form-txt {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: var(--light);
}

.primary-button1 {
  width: fit-content !important;
  padding: 20px 40px;
  text-decoration: none;
  position: relative;
  cursor: pointer;
  text-align: center;
  margin: 0 auto;
  z-index: 99;
}

.primary-button1::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  left: 0;
  border:1px solid;
  z-index: -1;
}

.primary-button1 button {
  background: transparent;
  border: none;
}

.primary-button1 .form-txt {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: var(--light);
}

.fixed-button {
  position: fixed;
  display: block;
  right: 1.5%;
  bottom: 2.5%;
  gap: 1rem;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: end;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: auto;
}

.btn-fixed {
  position: fixed;
  top: 50%;
  right: 13px;
  border: none;
  outline: none;
  background-color: var(--primary-pink);
  /* color: var(--light); */
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  text-align: center;
  padding: 12px 24px;
  z-index: 99;
  cursor: pointer;
  transition: all 1s ease;
  transform: translate(65px, -50%) rotate(270deg);
}





/* thank you css */

section.section-thankyou {
  height: calc(100vh - 75px);
  max-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.thankyou-title {
  text-align: center;
  font-family: var(--Metropolis-Meduim);
  margin: 0.35rem 0 0 0;
  font-weight: 500;
}

.thankyou-subtitle {
  text-align: center;
  font-family: var(--Metropolis-Regular);
  font-weight: 400;
  text-wrap: balance;
  opacity: 0.85;
  margin: 0.5rem 0 0 0;
}

.go_txt {
  font-size: 15px;
  color: #000;
  background-color: #fff !important;
  border-radius: 3.125rem;
  border: 1px solid #000;
  font-family: var(--Metropolis-Regular);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 15px 30px;
  margin: 15px auto 0;
}

.thankyou-content-img img {
  width: 15%;
}
/* Whatsapp */

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
  left:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}
@media only screen and (max-width: 600px) {
	.float{
		bottom:70px;
}
}
/*End Whatsapp*/

.desc_over .title-codename{
  
    font-size: 32px;
  
}


#clouds {
  z-index: 1;
  position: absolute;
  overflow: hidden;
  width: 100%;
  right: 0;
  height: 50%;
  top: 0
}

.cloud {
  width: 450px;
  height: 330px;
  background-image: url(../assets/images/wonder/c1.png);
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 200px;
  -moz-border-radius: 200px;
  -webkit-border-radius: 200px;
  position: absolute
}

.x1 {
  left: -500px;
  top: 0;
  -webkit-transform: scale(.5);
  -moz-transform: scale(.5);
  transform: scale(.5);
  -webkit-animation: moveclouds 100s linear infinite;
  -moz-animation: moveclouds 100s linear infinite;
  -o-animation: moveclouds 100s linear infinite
}

.x2 {
  left: -120px;
  top: 0;
  -webkit-transform: scale(.4);
  -moz-transform: scale(.4);
  transform: scale(.4);
  opacity: .8;
  -webkit-animation: moveclouds 150s linear infinite;
  -moz-animation: moveclouds 150s linear infinite;
  -o-animation: moveclouds 150s linear infinite
}

.x3 {
  left: -550px;
  top: 120px;
  -webkit-transform: scale(.4);
  -moz-transform: scale(.4);
  transform: scale(.4);
  opacity: .8;
  -webkit-animation: moveclouds 200s linear infinite;
  -moz-animation: moveclouds 200s linear infinite;
  -o-animation: moveclouds 200s linear infinite
}

.x4 {
  left: 250px;
  top: 0;
  -webkit-transform: scale(.6);
  -moz-transform: scale(.6);
  transform: scale(.6);
  -webkit-animation: moveclouds 70s linear infinite;
  -moz-animation: moveclouds 70s linear infinite;
  -o-animation: moveclouds 70s linear infinite
}

.x5 {
  left: -750px;
  top: 120px;
  -webkit-transform: scale(.7);
  -moz-transform: scale(.7);
  transform: scale(.7);
  opacity: .8;
  -webkit-animation: moveclouds 110s linear infinite;
  -moz-animation: moveclouds 110s linear infinite;
  -o-animation: moveclouds 110s linear infinite
}

.x6 {
  left: 120px;
  top: 0;
  -webkit-transform: scale(.4);
  -moz-transform: scale(.4);
  transform: scale(.4);
  opacity: .75;
  -webkit-animation: moveclouds 150s linear infinite;
  -moz-animation: moveclouds 150s linear infinite;
  -o-animation: moveclouds 150s linear infinite
}

.x7 {
  left: -1050px;
  top: 0;
  -webkit-transform: scale(.75);
  -moz-transform: scale(.75);
  transform: scale(.75);
  -webkit-animation: moveclouds 180s linear infinite;
  -moz-animation: moveclouds 180s linear infinite;
  -o-animation: moveclouds 180s linear infinite
}

.x8 {
  left: 200px;
  top: 0;
  -webkit-transform: scale(.2);
  -moz-transform: scale(.2);
  transform: scale(.6);
  -webkit-animation: moveclouds 40s linear infinite;
  -moz-animation: moveclouds 40s linear infinite;
  -o-animation: moveclouds 40s linear infinite
}

.x9 {
  left: 800px;
  top: 0;
  -webkit-transform: scale(.6);
  -moz-transform: scale(.6);
  transform: scale(.9);
  -webkit-animation: moveclouds 30s linear infinite;
  -moz-animation: moveclouds 30s linear infinite;
  -o-animation: moveclouds 30s linear infinite
}

.x10 {
  left: -1280px;
  top: 0;
  -webkit-transform: scale(.7);
  -moz-transform: scale(.7);
  transform: scale(.7);
  opacity: .9;
  -webkit-animation: moveclouds 170s linear infinite;
  -moz-animation: moveclouds 170s linear infinite;
  -o-animation: moveclouds 170s linear infinite
}

@-webkit-keyframes moveclouds {
  0% {
      margin-left: 800px
  }

  100% {
      margin-left: -800px
  }
}

@-moz-keyframes moveclouds {
  0% {
      margin-left: 800px
  }

  100% {
      margin-left: -800px
  }
}

@-o-keyframes moveclouds {
  0% {
      margin-left: 800px
  }

  100% {
      margin-left: -800px
  }
}
